    <!-- Download Section -->
    <section id="exercises" class="content-section text-center">
        <div class="exercises-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Details</h2>
                    <p>The best way to get started is... to start.</p>
                    <a href="{{site.baseurl}}/details" class="btn btn-default btn-lg">DETAILS</a>
                </div>
            </div>
            <a href="#contact" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </section>
